@import "../../../variables.scss";


.blog{
    .cover{
        background-image: url('../style/img/heading-pages-05.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        position: relative;

        .title{
            position: absolute;
            left: 45%;
            top: 30%;
            color: #FFF;
            font-size: 50px;
            font-weight: 600;
        }
    }

    .blog-content {
        padding: 30px 100px;
        .main-blog{
            padding-top: 70px;
            .blog-item{
                padding: 0 20px;
                .img{
                    overflow: hidden;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                        transition: all .6s;
                    }
                    &:hover{
                        img {
                            transform: scale(1.1);
                        }
                    }
    
                    p{
                        position: absolute;
                        bottom: 10%;
                        background-color: #000;
                        color: #FFF;
                        padding: 5px 8px;
                    }
                }
    
                .details{
                    padding-top: 25px;
                    .link{
                        a{
                            font-size: 25px;
                            font-weight: 350;
                            text-decoration: none;
                            color: #000;
                            transition: all .6s;
                            line-height: 1.5;
                            &:hover{
                                color: $Color2;
                            }
                        }
                    }
    
                    span{
                        display: block;
                        font-size: 13px;
                        line-height: 1.8;
                        color: #888;
                    }
    
                    p{
                        color: #888;
                        font-size: 15px;
                        line-height: 1.7;
                        margin: 15px 0 60px 0;
                    }
                }
            }
            @media screen and (max-width:900px) {
                .blog-item{
                    padding: 0;
                }
            }
        }
        .inner-blog{
            padding: 70px 50px 0;
            .input{
                input{
                    width: 250px;
                    border-radius: 25px;
                    padding: 7px 10px;
                    border: 1px solid #888;
                    outline: none;
                }
            }
            h5{
                color: #333;
                font-size: 25px;
                font-weight: 700;
                margin-bottom: 30px;
                margin-top: 50px;
            }
            .desc{
                cursor: pointer;
                color: #888;
                font-size: 15px;
                font-weight: 400;
                transition: all .6s;
                &:hover{
                    color: $Color2;
                }
            }
            .product-item{
                .item {
                    display: inline-flex;
                    width: 100%;
                    .img{
                        background-image: url('./cart/item-cart-01.jpg');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 29%;
                        height: 110px;
                        margin-right: 10px;
                        cursor: pointer;
                    }
                    .details{
                        width: 60%;
                        padding: 0 15px;
                        span{
                            display: block;
                            font-size: 14px;
                            color: #555;
                            line-height: 1.5;
                            font-weight: 400;
                            cursor: pointer;
                            transition: all .6s;
                            padding-bottom: 20px;
                            &:hover{
                                color: $Color2;
                            }
                        }
                        label{
                            font-size: 13px;
                            font-weight: 400;
                        }
                    }
                }
            }
            .archive{
                .desc{
                    &:hover{
                        color: #888;
                    }
                    a{
                        font-size: 14px;
                        font-weight: 400;
                        &:hover{
                            color: $Color2;
                        }
                    }
                    span{
                        float: right;
                        &:hover{
                            color: #888;
                            cursor: auto;
                        }
                    }
                }
            }
            .tags{
                button{
                    margin: 5px 3px;
                    border: 1px solid #888;
                    border-radius: 25px;
                    padding: 4px 17px;
                    transition: all .6s;
                    font-size: 14px;
                    font-weight: 200;
                    &:hover{
                        border: 1px solid $Color2;
                        color: $Color2;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 900px) {
        .inner-blog{
            padding: 15px 20px;
        }
    }
}