.carousel {
    &:hover {
      .carousel-control-next,
      .carousel-control-prev {
        opacity: 0.8 !important;
      }
    }
    .carousel-inner {
      height: 610px;
      .carousel-item {
        height: 100%;
        transition: opacity 0.6s ease-in !important;
        .carousel-img {
          height: 100%;
        }
        .caption {
          position: absolute;
          top: 47%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 10;
          padding-top: 20px;
          padding-bottom: 20px;
          width: fit-content;
          .caption-content {
            text-align: center;
            display: flex;
            flex-direction: column;
            position: relative;
            & > * {
              transition: all 0.2s ease-in;
              font-family: sans-serif;
              color: white;
              line-height: 1.5;
              letter-spacing: 3px;
            }
            .collection {
              font-size: 18px;
            }
            .new-arrival {
              font-size: 58px;
              letter-spacing: 3px;
              font-weight: bolder;
              margin-bottom: 25px;
            }
            .caption-btn {
              color: #5c5c5c;
              padding: 11px 26px;
              letter-spacing: 1px;
              width: fit-content;
              align-self: center;
              border-radius: 25px;
              background-color: #fff;
              font-size: 18px;
              text-decoration: none;
              &:hover {
                background-color: #e65540;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  //indicators
  .carousel-control-next,
  .carousel-control-prev {
    height: fit-content !important;
    width: fit-content !important;
    padding: 8px;
    opacity: 0 !important;
    top: 50% !important;
    transform: translateY(-50%);
    border-radius: 50% !important;
    background-color: #464444;
    transition: opacity 0.3s !important;
    &:hover {
      background-color: rgb(172, 94, 94);
    }
    &.carousel-control-next {
      right: 35px !important;
    }
    &.carousel-control-prev {
      left: 35px !important;
    }
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 26px !important;
    height: 26px !important;
    transition: opacity 0.3s !important;
    &.carousel-control-next-icon {
      background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")
        no-repeat 50%/40% 100% !important;
    }
    &.carousel-control-prev-icon {
      background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")
        no-repeat 50%/40% 100% !important;
    }
  }
  //
  #collection-1,
  #collection-2,
  #collection-3,
  #new-arrival-1,
  #new-arrival-2,
  #new-arrival-3,
  #caption-btn-1,
  #caption-btn-2,
  #caption-btn-3 {
    opacity: 0;
  }
  #collection-2 {
    transform-origin: 40% 30%;
  }
  #collection-3 {
    transform-origin: 120px;
  }
  #new-arrival-3 {
    transform-origin: right;
  }
  #caption-btn-1 {
    font-size: 0;
    padding: 0;
  }
  
  //first slide animations
  @keyframes collection-1-slideDown {
    0% {
      opacity: 0;
      transform: translateY(-40px);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes new-arrival-1-animation {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes caption-btn-1-fadeIn {
    50% {
      opacity: 0.3;
    }
    100% {
      font-size: 18px;
      padding: 11px 26px;
      opacity: 1;
    }
  }
  
  //second slide animations
  @keyframes collection-2-rotate {
    0% {
      transform: translateX(-200px) rotate(-90deg);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateX(0px) rotate(0deg);
    }
  }
  @keyframes caption-btn-2-slideUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes new-arrival-2-lightSpeedIn {
    0% {
      transform: translateX(100%) skewX(25deg);
      opacity: 0;
    }
    75% {
      transform: skewX(-20deg);
      opacity: 0.6;
    }
    85% {
      transform: translateX(0) skewX(5deg);
      opacity: 1;
    }
    100% {
      transform: translateX(0) skewX(0deg);
      opacity: 1;
    }
  }
  
  //third slide animation
  @keyframes collection-3-rotate {
    0% {
      opacity: 0;
      transform: rotate(-45deg);
    }
    100% {
      opacity: 1;
      transform: rotate(0deg);
    }
  }
  @keyframes new-arrival-3-rotate {
    0% {
      opacity: 0;
      transform: rotate(270deg);
    }
    100% {
      opacity: 1;
      transform: rotate(360deg);
    }
  }
  @keyframes caption-btn-3-rotate {
    0% {
      opacity: 0;
      transform: rotate(0deg);
    }
    100% {
      opacity: 1;
      transform: rotate(360deg);
    }
  }
  
  //activating the animations
  .carousel-item.active {
    #collection-1 {
      animation: collection-1-slideDown 0.5s 0.1s ease-out forwards;
    }
    #collection-2 {
      animation: collection-2-rotate 0.6s 0.3s ease-in-out forwards;
    }
    #collection-3 {
      animation: collection-3-rotate 0.6s 0.2s ease-out forwards;
    }
    //
    #new-arrival-1 {
      animation: new-arrival-1-animation 0.6s 0.6s ease-in-out forwards;
    }
    #new-arrival-2 {
      animation: new-arrival-2-lightSpeedIn 1s 0.9s ease-in-out forwards;
    }
    #new-arrival-3 {
      animation: new-arrival-3-rotate 0.6s 0.8s ease-out forwards;
    }
    //
    #caption-btn-1 {
      animation: caption-btn-1-fadeIn 0.5s 1.4s ease-in-out forwards;
    }
    #caption-btn-2 {
      animation: caption-btn-2-slideUp 0.5s 1.8s ease-in-out forwards;
    }
    #caption-btn-3 {
      animation: caption-btn-3-rotate 0.7s 1.4s ease-in-out forwards;
    }
  }
  
  //media
  @media (min-width: 650px) and (max-width: 849px) {
    .carousel-inner {
      height: 530px !important;
    }
  }
  @media (max-width: 649px) {
    .carousel-inner {
      height: 410px !important;
      .caption {
        .collection,
        .caption-btn {
          font-size: 16px !important;
        }
        .new-arrival {
          font-size: 40px !important;
        }
      }
    }
  }